@model List<CvApp.DTO.DTOs.InterestDtos.InterestListDto>
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Hobilerim</h2>
        @foreach (var item in Model)
        {
            <p>@item.Description</p>
        }
       
    </div>
</section>